:root {
    /* --color-primary-light: #AACCFF;
    --color-secondary-light: #F2F2F2;
    --color-accent-light: #F7BE7A; */

    --color-primary: #F8F9FB;
    --color-secondary: #F2F2F2;
    --color-accent: #AACCFF;
    --text: #000;
    /* --text-accent: #f30000; */
}


:root.theme-dark {
    --color-primary: #191E26;
    /* --color-secondary: #33373B; */
    --color-secondary: #33373B;
    /* --color-accent: #8DC6E0; */
    /* --color-accent: #; */
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #F2F2F2;
}

/* LOOK at Blue Or purple too */
