<!DOCTYPE html>
<html>

<head>
    <title>ahoy 👋</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="container">
        <h1>Signup</h1>
        <form action="/api/users" method="post">
            <section>
                <label for="username">Username </label>
                <input id="username" name="username" type="text" autocomplete="username" required="required"
                    autofocus="autofocus" />
            </section>
            <section>
                <label for="email">email </label>
                <input id="emai" name="email" type="text" autocomplete="email" required="required" />
            </section>
            <section>
                <label for="password">password </label>
                <input id="password" name="password" type="text" autocomplete="password" required="required" />
            </section>
            <input type="hidden" name="_csrf" id="_csrf" />
            <button type="submit">Sign Up </button>
        </form>
        <h2>Other Sign in Options</h2>
        <div id="options"><a class="button google" href="/auth/google">Google</a><a class="button github"
                href="/login/github">Github</a><a class="button facebook" href="/login/facebook">Facebook</a></div>
    </div>
    <!-- js file here-->
    <script src="/js/utils/csrf.js"></script>
    <script src="/js/utils/script.js"></script>
</body>

</html>
