<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <meta name="color-scheme" content="dark light"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo"><img src="/images/android-chrome-512x512.png"></a>
            <div>
                <input type="text" name="search" placeholder="Search...">
                <!-- <button>switch</button> -->
                <ul>
                    <li><a class="cta" href="/signup">signup</a></li>
                    <li><a class="cta" href="/login">login</a></li>
                </ul>
            </div>
        </nav>
        <section class="hero-section">
            <div class="hero-content">
                <h1>Never miss what matters!</h1>
                <h2>Stay informed with curated headlines</h2>
                <a href="/signup" class="cta">Start your personalized news journey</a>
            </div>
        </section>
    </header>
    <main>
        <section>
            <div>
                <div class="categories">
                    <a href="#">Tech</a>
                    <a href="#">crypto</a>
                    <a href="#">ai</a>
                    <a href="#">art</a>
                </div>
            </div>
            <div>
                <div class="cards">
                </div>
                <div>
                    <button type="button" id="prev">prev</button>
                    <button type="button" id="prev">next</button>
                </div>
            </div>
        </section>
        <section class="why-us">
            <h2>Why Us</h2>
            <div class="cards">
                <div class="card">Never miss what's important</div>
                <div class="card">Save Time, Read More</div>
                <div class="card">Stay Informed, stay curious</div>
                <div class="card">Read with confidence</div>
            </div>
            <a href="/signup" class="cta">Sign up for free today</a>
        </section>
    </main>
    <footer>
        copyright @copyright 2024
    </footer>

    <script src="/js/utils/loadNews.js"></script>
</body>

</html>
